In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.api as sm
import geopandas
import requests
import pandas as pd
import folium
import requests

In [9]:
a = pd.read_excel("tarifas_eua_2025.xlsx")
a = a.rename(columns={'País': 'Country', 'Tarifa Aplicada (%)': 'Tarifa'})
a

           Country  Tarifa
0            China     125
1        Hong Kong     125
2   União Europeia      20
3            Japão      24
4    Coreia do Sul      25
5            Índia      26
6           Taiwan      32
7        Tailândia      36
8           Vietnã      46
9        Sri Lanka      44
10      Bangladesh      37
11         Camboja      49
12           Suíça      31
13   África do Sul      30
14       Paquistão      29
15          Israel      17
16       Austrália      10
17     Reino Unido      10
18       Singapura      10
19          México      25
20          Canadá      25
21   Outros países      10

In [11]:
# Fazer uma solicitação à API REST Countries para obter informações sobre todos os países
response = requests.get("https://restcountries.com/v3.1/all")
data = response.json()

# Extrair o nome do país e a população
countries_population = []
for country in data:
    name = country.get('name', {}).get('common', None)
    population = country.get('population', None)
    if name and population is not None:
        countries_population.append({'Country': name, 'População': population})

# Criar um DataFrame do Pandas com os dados extraídos
df_population = pd.DataFrame(countries_population)

df_merged = pd.merge(a,df_population, on="Country", how="inner")
df_merged
# df2=df_merged.sort_values(by='População',ascending=False)
# df2['Ratio']=((df2['MarketValue']/df2['População'])*1000000).round(0)

      Country  Tarifa   População
0       China     125  1402112000
1   Hong Kong     125     7500700
2      Taiwan      32    23503349
3   Sri Lanka      44    21919000
4  Bangladesh      37   164689383
5      Israel      17     9216900

In [19]:
world = requests.get(
    "https://raw.githubusercontent.com/python-visualization/folium/main/examples/data/world-countries.json"
).json()

paises_world = []
for i in range(len(world['features'])):
    paises_world.append(world['features'][i]['properties']['name'])
paises_world

['Afghanistan',
 'Angola',
 'Albania',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antarctica',
 'French Southern and Antarctic Lands',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'The Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 'Ivory Coast',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Northern Cyprus',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea Bissau',
 'Equatorial Guinea',
 'Greece',
 'Greenland',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Mexico',
 'Macedonia',
 'Mali',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Malaysia',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Western Sahara',
 'Saudi Arabia',
 'Sudan',
 'South Sudan',
 'Senegal',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somaliland',
 'Somalia',
 'Republic of Serbia',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'East Timor',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Taiwan',
 'United Republic of Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States of America',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'West Bank',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [ ]:
world['features']

{'name': 'Albania'}

In [20]:
for i in range(len(a)):
    if a['Country'][i] not in paises_world:
        print(a['Country'][i])

Hong Kong
União Europeia
Japão
Coreia do Sul
Índia
Tailândia
Vietnã
Camboja
Suíça
África do Sul
Paquistão
Austrália
Reino Unido
Singapura
México
Canadá
Outros países